* {
  margin: 0;
  padding: 0;
}

/* Navbar */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* .nav-icon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
  cursor: pointer;
} */

.nav {
  display: flex;
  margin: auto;
}

.nav-logo {
  margin: 1.63em 0 1.75em 4.37em;

  /* padding-left: 4.37em; */
}

.logo {
  width: 15.37em;
  height: 6.36em;
}

.nav-icon {
  display: none;
  font-size: 2em;
}

.nav-menu {
  flex: 1;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 3.31em 2.5em 3.43em 0;
}

.nav-item {
  list-style-type: none;
  justify-content: center;
  padding: 0.62em;
  margin-left: 5.87em;
}

.nav-item:first-child {
  margin-left: 0;
}

.nav-link {
  text-decoration: none;
  color: #252b42;
  font-size: 1em;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.nav-link:hover {
  color: #fa4a0c;
}

/* Hero Section */

.hero-container {
  height: calc(38.5em + 31em);
}

.hero {
  display: block;
  background-image: url("../img/hero.png");
  background-size: cover;
  text-align: center;
  height: 38.68em;
  width: 100%;
  border: 1px solid transparent;
}

.hero-text-container {
  /* padding: 4.56em 13.56em 13.75em 13.59em; */
  display: block;
  width: 62.81em;
  height: 20.37em;
  margin: auto;
  margin-top: 4.56em;
}

.hero-title {
  color: #f6f6f6;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin-bottom: 0.43rem;
  line-height: 2.25rem;
}

.hero-description {
  display: block;
  color: #fff;
  font-size: 3.62rem;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  margin: auto;
  padding: 0.62rem 0;
  line-height: 5rem;
}

.hero-download {
  color: #f6f6f6;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  margin-top: 0.43em;
  padding: 1.06rem 0 3rem 0;
  /* line-height: 2.37rem; */
}

.hero-store {
  display: flex;
  justify-content: center;
  margin-top: 0.37em;
}

.hero-playstore {
  background-color: #fa4a0c;
  outline: none;
  border: none;
  font-size: 1.5rem;
  color: #fff;
  border-radius: 30px;
  padding: 1rem 3.65rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin-right: 2.12rem;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

.hero-playstore:hover,
.hero-playstore:active,
.hero-playstore:active {
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.6);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.hero-appstore {
  background-color: transparent;
  font-size: 1.5rem;
  color: #fff;
  border-radius: 30px;
  padding: 1rem 3.65rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

.hero-appstore:hover,
.hero-appstore:active,
.hero-appstore:active {
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.6);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.hero-mobile-img img {
  width: 34.25em;
  height: 40em;
}

/* Content */

.line {
  color: #e4e4e4;
  border: 3px solid #e4e4e4;
  width: 55.25em;
  margin: auto;
  margin-top: 8.05em;
  margin-bottom: 4.5em;
}

.content-title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 2.75em;
  text-align: center;
  letter-spacing: 0.1px;
  /* line-height: 2.25em; */
}

/* Create an account */

.account-container {
  display: flex;
  margin-top: 3.68em;
}

.account-img {
  flex: 1;
  margin: 4.87em 0 3.31em 15.31em;
  filter: drop-shadow(50px 30px 150px rgba(46, 4, 4, 0.15));
}

.account-img img {
  width: 18.87em;
  height: 32.81em;
}

.account-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  margin: 4.87em 9.62em 3.31em 0;
}

.account-title {
  color: #fa4a0c;
  font-size: 1.5em;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  letter-spacing: 0.1px;
  margin-bottom: 0.43em;
  /* line-height: 2.25em; */
}

.account-description1 {
  font-size: 2.5em;
  color: #252b42;
  /* line-height: 3.56em; */
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.2px;
  padding: 0.62em 0;
}

.account-description2 {
  font-size: 1.5em;
  color: #737373;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0.2px;
  margin-top: 0.43em;
}

/* Explore varieties */
.explore-container {
  display: flex;
}

.explore-text-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  margin-top: 4.87em;
  margin-bottom: 12.74em;
  margin-left: 15.87em;
}

.explore-title {
  color: #fa4a0c;
  font-size: 1.5em;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  letter-spacing: 0.1px;
  margin-bottom: 0.43em;
}

.explore-description1 {
  font-size: 2.5em;
  color: #252b42;
  /* line-height: 3.56em; */
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.2px;
  padding: 0.62em 0;
}

.explore-description2 {
  font-size: 1.5em;
  color: #737373;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0.2px;
  margin-top: 0.43em;
}

.explore-img {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  margin-top: 4.87em;
  margin-right: 14.5em;
  margin-bottom: 12.74em;
  filter: drop-shadow(50px 30px 150px rgba(46, 4, 4, 0.15));
}

.explore-img img {
  width: 16.81em;
  height: 32.81em;
}

/* Checkout */
.checkout-container {
  display: flex;
}

.checkout-img {
  flex: 1;
  margin-left: 15.31em;
  margin-top: 4.87em;
  filter: drop-shadow(50px 30px 150px rgba(46, 4, 4, 0.15));
  margin-bottom: 13.43em;
}

.checkout-img img {
  width: 17.37em;
  height: 31.93em;
}

.checkout-text-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  margin-top: 4.87em;
  margin-right: 9.62em;
  margin-bottom: 13.43em;
}

.checkout-title {
  color: #fa4a0c;
  font-size: 1.5em;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  letter-spacing: 0.1px;
  margin-bottom: 0.43em;
}

.checkout-description1 {
  font-size: 2.5em;
  color: #252b42;
  /* line-height: 3.56em; */
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.2px;
  padding: 0.62em 0;
}

.checkout-description2 {
  font-size: 1.5em;
  color: #737373;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0.2px;
  margin-top: 0.43em;
}

/* Download */
.download-container {
  display: flex;
  flex-direction: column;
  background-image: url("../img/download.png");
  background-size: cover;
  width: 100%;
  height: 32.25em;
}

.download-text-container {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.download-title {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #fff;
  font-size: 2.5em;
  text-align: center;
}

.download-description {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
  color: #fff;
  text-align: center;
  margin-top: 0.62em;
  margin-bottom: 3.75em;
  letter-spacing: 0.2px;
}

.download-store {
  display: flex;
  justify-content: center;
}

.download-playstore {
  background-color: #fa4a0c;
  outline: none;
  border: none;
  font-size: 1.5rem;
  color: #fff;
  border-radius: 10px;
  padding: 1rem 2.65rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin-right: 1rem;
  cursor: pointer;
}

.download-appstore {
  background-color: transparent;
  font-size: 1.5rem;
  color: #fff;
  border-radius: 10px;
  padding: 1rem 2.65rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  cursor: pointer;
}

/* Footer */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.37em;
  margin-left: 7.18em;
  margin-right: 7.18em;
  margin-bottom: 3.31em;
}

.footer-logo {
  margin-left: 5.71em;
}

.footer-logo img {
  width: 15.37em;
  height: 6.37em;
}

.footer-icon .twitter {
  width: 2.08em;
  height: 1.69em;
}

.footer-icon .facebook {
  margin: 0 1.5em;
  width: 2em;
  height: 2em;
}

.footer-icon .instagram {
  width: 2em;
  height: 2em;
}

.footer-copyright {
  margin-right: 2.18em;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  font-size: 0.75em;
}

/* sm screen */

@media screen and (max-width: 991px) {
  * {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  html,
  body {
    width: 100%;
    overflow-x: hidden;
    font-size: 14px;
  }

  .footer {
    flex-direction: column;
  }

  .footer-logo {
    margin: 0;
  }

  .footer-icon {
    margin: 1em 0;
  }

  .footer-icon .twitter {
    width: 2.08em;
    height: 1.69em;
  }

  .footer-icon .facebook {
    margin: 0 1.5em;
  }

  .footer-copyright {
    margin: 0;
  }

  /* Content */

  .line {
    width: 100%;
  }

  /* Create an account */
  .account-container {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .account-img {
    margin: 1em 0;
  }

  .account-text-container {
    margin: 1em;
    text-align: center;
    line-height: 3em;
  }

  /* Explore varieties */
  .explore-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .explore-text-container {
    text-align: center;
    margin: 1em;
    line-height: 3em;
  }

  .explore-img {
    margin: 1em 0;
  }

  /* Checkout */
  .checkout-container {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .checkout-img {
    margin: 1em 0;
  }

  .checkout-text-container {
    margin: 1em;
    text-align: center;
    line-height: 3em;
  }

  /* Download */
  .download-description {
    line-height: 2em;
  }

  /* Hero Section */

  .hero-container {
    height: min-content;
  }

  .hero {
    background: none;
    height: min-content;
  }

  .hero-text-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
  }

  .hero-title {
    color: #737373;
  }

  .hero-description {
    color: #252b42;
  }

  .hero-download {
    color: #737373;
  }

  .hero-container {
    display: flex;
  }

  .hero-store {
    flex-direction: column;
    align-items: center;
  }

  .hero-playstore {
    margin-right: 0;
    margin-bottom: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .hero-playstore:hover,
  .hero-playstore:active,
  .hero-playstore:active {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  }

  .hero-appstore {
    color: #fa4a0c;
    border: 1px solid #fa4a0c;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 1em;
  }

  .hero-appstore:hover,
  .hero-appstore:active,
  .hero-appstore:active {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  }

  /* Navbar */

  .nav-logo {
    margin: 0;
  }

  .nav-icon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1em;
    flex: 1;
    cursor: pointer;
    background-color: blue;
  }

  .nav-menu {
    visibility: hidden;
    display: block;
    transition: 2s;
    position: absolute;
    width: 0;
    top: 90px;
    right: 0;
  }

  .nav-menu.active {
    display: block;
    visibility: visible;
    background-color: wheat;
    margin: auto;
    top: 90px;
    right: 0;
    width: 100%;
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;

    background-color: yellow;
  }

  .nav-item {
    margin: 0;
  }
}

@media screen and (max-width: 500px) {
  html,
  body {
    font-size: 12px;
  }

  .hero-mobile-img img {
    width: 100%;
    height: 40em;
  }
}
