* {
  margin: 0;
  padding: 0;
}

/* Navbar */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@media screen and (max-width: 992px) {
  html {
    font-size: 10px;
  }
}

.nav {
  display: flex;
  margin: auto;
}

.nav-logo {
  margin: 1.63em 0 1.75em 4.37em;
  border: 1px solid blue;

  /* padding-left: 4.37em; */
}

.logo {
  width: 15.37em;
  height: 6.36em;
}

.nav-menu {
  flex: 1;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: 1px solid red;
  margin: 3.31em 2.5em 3.43em 0;
}

.nav-item {
  list-style-type: none;
  justify-content: center;
  border: 1px solid blue;
  padding: 0.62em;
  margin-left: 5.87em;
}

.nav-item:first-child {
  margin-left: 0;
}

.nav-link {
  text-decoration: none;
  color: #252b42;
  font-size: 1em;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  border: 1px solid yellow;
}

.nav-link:hover {
  color: #fa4a0c;
}

/* Hero Section */

.hero-container {
  height: calc(38.5em + 31em);
}

.hero {
  display: block;
  background-image: url("../img/hero.png");
  background-size: cover;
  text-align: center;
  height: 38.68em;
  width: 100%;
  border: 1px solid blue;
}

.hero-text-container {
  /* padding: 4.56em 13.56em 13.75em 13.59em; */
  display: block;
  width: 62.81em;
  height: 20.37em;
  border: 1px solid red;
  margin: auto;
  margin-top: 4.56em;
}

.hero-title {
  color: #f6f6f6;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin-bottom: 0.43rem;
  line-height: 2.25rem;
}

.hero-description {
  display: block;
  color: #fff;
  font-size: 3.62rem;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  margin: auto;
  border: 1px solid green;
  padding: 0.62rem 0;
  line-height: 5rem;
}

.hero-download {
  color: #f6f6f6;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  margin-top: 0.43em;
  padding: 1.06rem 0 3rem 0;
  border: 1px solid yellow;
  /* line-height: 2.37rem; */
}

.hero-store {
  display: flex;
  justify-content: center;
  margin-top: 0.37em;
}

.hero-playstore {
  background-color: #fa4a0c;
  outline: none;
  border: none;
  font-size: 1.5rem;
  color: #fff;
  border-radius: 30px;
  padding: 1rem 3.65rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin-right: 2.12rem;
  cursor: pointer;
}

.hero-appstore {
  background-color: transparent;
  font-size: 1.5rem;
  color: #fff;
  border-radius: 30px;
  padding: 1rem 3.65rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.hero-mobile-img img {
  border: 1px solid salmon;
  width: 34.25em;
  height: 40em;
}

/* Content */

.line {
  color: #e4e4e4;
  border: 3px solid #e4e4e4;
  width: 55.25em;
  margin: auto;
  margin-top: 8.05em;
  margin-bottom: 4.5em;
}

.content-title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 2.75em;
  text-align: center;
  letter-spacing: 0.1px;
  border: 1px solid blue;
  /* line-height: 2.25em; */
}

/* Create an account */

.account-container {
  display: flex;
  border: 1px solid red;
  margin-top: 3.68em;
}

.account-img {
  flex: 1;
  margin: 4.87em 0 3.31em 15.31em;
  filter: drop-shadow(50px 30px 150px rgba(46, 4, 4, 0.15));
}

.account-img {
  width: 18.87em;
  height: 32.81em;
}

.account-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  margin: 4.87em 9.62em 3.31em 0;
  width: 300em;
}

.account-title {
  color: #fa4a0c;
  font-size: 1.5em;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  letter-spacing: 0.1px;
  border: 1px solid blue;
  margin-bottom: 0.43em;
  /* line-height: 2.25em; */
}

.account-description1 {
  font-size: 2.5em;
  color: #252b42;
  /* line-height: 3.56em; */
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.2px;
  border: 1px solid yellow;
  padding: 0.62em 0;
}

.account-description2 {
  font-size: 1.5em;
  color: #737373;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0.2px;
  border: 1px solid red;
  margin-top: 0.43em;
}

/* Explore varieties */
.explore-container {
  display: flex;
  border: 1px solid black;
}

.explore-text-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  margin-top: 4.87em;
  margin-bottom: 12.74em;
  margin-left: 15.87em;
  border: 1px solid red;
}

.explore-title {
  color: #fa4a0c;
  font-size: 1.5em;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  letter-spacing: 0.1px;
  margin-bottom: 0.43em;
}

.explore-description1 {
  font-size: 2.5em;
  color: #252b42;
  /* line-height: 3.56em; */
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.2px;
  padding: 0.62em 0;
}

.explore-description2 {
  font-size: 1.5em;
  color: #737373;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0.2px;
  margin-top: 0.43em;
}

.explore-img {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  margin-top: 4.87em;
  margin-right: 14.5em;
  margin-bottom: 12.74em;
  filter: drop-shadow(50px 30px 150px rgba(46, 4, 4, 0.15));
}

/* Checkout */
.checkout-container {
  display: flex;
  border: 1px solid green;
}

.checkout-img {
  flex: 1;
  margin-left: 15.31em;
  margin-top: 4.87em;
  filter: drop-shadow(50px 30px 150px rgba(46, 4, 4, 0.15));
  background-color: yellowgreen;
  margin-bottom: 13.43em;
}

.checkout-text-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  background-color: turquoise;
  margin-top: 4.87em;
  margin-right: 9.62em;
  margin-bottom: 13.43em;
}

.checkout-title {
  color: #fa4a0c;
  font-size: 1.5em;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  letter-spacing: 0.1px;
  margin-bottom: 0.43em;
}

.checkout-description1 {
  font-size: 2.5em;
  color: #252b42;
  /* line-height: 3.56em; */
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.2px;
  padding: 0.62em 0;
}

.checkout-description2 {
  font-size: 1.5em;
  color: #737373;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0.2px;
  margin-top: 0.43em;
}

/* Download */
.download-container {
  display: flex;
  flex-direction: column;
  background-image: url("../img/download.png");
  background-size: cover;
  width: 100%;
  height: 32.25em;
}

.download-text-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: purple;
}

.download-title {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #fff;
  font-size: 2.5em;
  text-align: center;
}

.download-description {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
  color: #fff;
  text-align: center;
  border: 1px solid yellow;
  margin-top: 0.62em;
  margin-bottom: 3.75em;
  letter-spacing: 0.2px;
  background-color: blue;
}

.download-store {
  display: flex;
  justify-content: center;
  background-color: yellow;
}

.download-playstore {
  background-color: #fa4a0c;
  outline: none;
  border: none;
  font-size: 1.5rem;
  color: #fff;
  border-radius: 10px;
  padding: 1rem 2.65rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin-right: 1rem;
  cursor: pointer;
}

.download-appstore {
  background-color: transparent;
  font-size: 1.5rem;
  color: #fff;
  border-radius: 10px;
  padding: 1rem 2.65rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  cursor: pointer;
}
